﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPageSignIn.master" AutoEventWireup="true" CodeFile="Control.aspx.cs" Inherits="DetailsPort_Admin_Control" %>


<%--<%@ Register Src="~/Reports/Set_Credentials/PNRCreationCrd.ascx" TagPrefix="Search" TagName="PNRCreationCrd" %>
<%@ Register Src="~/Reports/Set_Credentials/TicketingCrd.ascx" TagPrefix="Search1" TagName="TicketingCrd" %>
<%@ Register Src="~/Reports/Set_Credentials/ServiceCredentials.ascx" TagPrefix="Search2" TagName="ServiceCredentials" %>--%>


<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 <%--   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>--%>
      <script type="text/javascript" >
          function activetab(str) {
              debugger;
              if (str == "src_cr") {
                  location.href = 'http://backoffice.Anupam Travel.in/Control?r=' + str + '';
              }
              if (str == "tkt_cr") {
                  location.href = 'http://backoffice.Anupam Travel.in/Control?r=' + str + '';
              }
              if (str == "bkt_cr") {
                  location.href = 'http://backoffice.Anupam Travel.in/Control?r=' + str + '';
              }
             

          };
</script>  
        <script type="text/javascript">
         var UrlBase = '<%=ResolveUrl("~/") %>';
    </script>
    <div class="col-md-12 container-fluid" style="padding-right: 35px">
        <div class="page-wrapperss">

            <div class="panel panel-primary">

                <div class="panel-body">
                    <div class="container">

                        <ul class="nav nav-tabs">
                            <li id="src_cr"><a data-toggle="tab" onclick="activetab('src_cr')"> Search Credentials</a></li>
                            <li id="tkt_cr"><a data-toggle="tab" onclick="activetab('tkt_cr')">Ticketing Credentials</a></li>
                            <li id="bkt_cr"><a data-toggle="tab" onclick="activetab('bkt_cr')"> Booking Credentials</a></li>
                        </ul>
                          <asp:PlaceHolder ID="phModule" runat="server"></asp:PlaceHolder>
                     <%--   <div class="tab-content" style="overflow: hidden;">
                            <div id="home" class="tab-pane fade in active">
                                 <Search2:ServiceCredentials runat="server" ID="ServiceCredentials1" />
                            
                            </div>
                            <div id="menu1" class="tab-pane fade">

                                <Search1:TicketingCrd runat="server" ID="TicketingCrd1" />
                            </div>
                            <div id="menu2" class="tab-pane fade">
                                    <Search:PNRCreationCrd ID="PNRCreationCrd1" runat="server" />
                               
                            </div>

                        </div>--%>
                    </div>
                </div>
            </div>
        </div>

    </div>



            <script type="text/javascript">
                // wait for the DOM to be loaded 
                $(document).ready(function () {
                    debugger;


                    if (window.location.search.indexOf('tkt_cr') > 0) {

                        var element = document.getElementById("tkt_cr");
                        element.classList.add("active");
                    }
                    if (window.location.search.indexOf('bkt_cr') > 0) {

                        var element = document.getElementById("bkt_cr");
                        element.classList.add("active");
                    }
                    if ((window.location.search.indexOf('?') < 0) || (window.location.search.indexOf('src_cr') > 0)) {

                        var element = document.getElementById("src_cr");
                        element.classList.add("active");
                    }
                   
                    //else {
                    //    var element = document.getElementById("src_cr"); element.classList.add("active");

                    //}

                    // bind 'myForm' and provide a simple callback function 
                    //$('#myForm').ajaxForm(function () {

                    //});
                });
                </script>







    <%--  <script type="text/javascript">
         jQuery.noConflict();
         $(document).ready(function () {
             $("#tabs").tabs();
         });
         </script>--%>
</asp:Content>

