﻿<%@ Control Language="VB" AutoEventWireup="false" CodeFile="AirlineFee.ascx.vb" Inherits="Reports_Other_Settings_AirlineFee" %>


   <%-- <style>
        /* RESET */ html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, a, font, img, dl, dt, dd, ol, ul, li, legend, table, tbody, tr, th, td {
            margin: 0px;
            padding: 0px;
            border: 0;
            outline: 0;
            font-weight: inherit;
            font-style: inherit;
            font-size: 100%;
            font-family: inherit;
            list-style: none;
        }

            a img {
                border: none;
            }

            ol li {
                list-style: decimal outside;
            }

        fieldset {
            border: 0;
            padding: 0;
        }

        body {
            font-family: sans-serif;
            font-size: 1em;
        }

        div#container {
            width: 780px;
            margin: 0 auto;
            padding: 1em 0;
        }

        p {
            margin: 1em 0;
            max-width: 700px;
        }

        h1 + p {
            margin-top: 0;
        }

        h1, h2 {
            font-family: Georgia, Times, serif;
        }

        h1 {
            font-size: 2em;
            margin-bottom: .75em;
        }

        h2 {
            font-size: 1.5em;
            margin: 2.5em 0 .5em;
            border-bottom: 1px solid #999;
            padding-bottom: 5px;
        }

        h3 {
            font-weight: bold;
        }

        ul li {
            list-style: disc;
            margin-left: 1em;
        }

        ol li {
            margin-left: 1.25em;
        }

        div.side-by-side {
            width: 100%;
            margin-bottom: 1em;
        }

            div.side-by-side > div {
                float: left;
                width: 50%;
            }

                div.side-by-side > div > em {
                    margin-bottom: 10px;
                    display: block;
                }

        a {
            color: Navy;
            text-decoration: underline;
        }

        .faqs em {
            display: block;
        }

        .clearfix:after {
            content: "\0020";
            display: block;
            height: 0;
            clear: both;
            overflow: hidden;
            visibility: hidden;
        }

        footer {
            margin-top: 2em;
            border-top: 1px solid #666;
            padding-top: 5px;
        }
    </style>
    <link href="../../CSS/style.css" rel="stylesheet" type="text/css" />
    <link href="../../CSS/main2.css" rel="stylesheet" type="text/css" />--%>
    <link rel="stylesheet" href="../../chosen/chosen.css" />

    <script src="../../chosen/jquery-1.6.1.min.js" type="text/javascript"></script>

    <script src="../../chosen/chosen.jquery.js" type="text/javascript"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $(".chzn-select").chosen();
            $(".chzn-select-deselect").chosen({ allow_single_deselect: true });
        });
    </script>

    <script type="text/javascript">
        function checkit(evt) {
            evt = (evt) ? evt : window.event
            var charCode = (evt.which) ? evt.which : evt.keyCode


            if (!(charCode == 46 || charCode == 48 || charCode == 49 || charCode == 50 || charCode == 51 || charCode == 52 || charCode == 53 || charCode == 54 || charCode == 55 || charCode == 56 || charCode == 57 || charCode == 8)) {
                //                alert("This field accepts only Float Number.");
                return false;


            }

            status = "";
            return true;

        }


    </script>

    <style type="text/css">
        .page-wrapperss
        {
            background-color: #fff;
            margin-left: 15px;
        }
    </style>
    <div class="row">
        <div class="container-fluid" style="padding-right: 35px;">
            <div class="page-wrapperss" style="background-color: #ffffff2e;">

                <div class="panel panel-primary" style="background-color: #fff0;">

                    <div class="panel-body" style="margin-right: -400px">


                        <div class="row">
                            <div class="col-md-1">
                                <div class="input-group">
                                    <%--<label for="exampleInputEmail1">Service Tax</label>--%>
                                   <asp:TextBox runat="server" placeholder="SERVICE TAX" ID="txt_SeviceTax" CssClass="form-control input-text full-width"
                                        onKeyPress="return checkit(event)" ></asp:TextBox>
                                     <span class="input-group-addon" style="background:#49cced">
                                  <span class="fa fa-percent">
                                     </span>
                               </span>
                                </div>
                            </div>

                            <div class="col-md-1">
                                <div class="input-group">
                                    <%--<label for="exampleInputPassword1">Transaction Fee</label>--%>
                                    <asp:TextBox runat="server" placeholder="TRANSACTION FEE" ID="txt_TrasFee" CssClass="form-control input-text full-width"
                                        onKeyPress="return checkit(event)" Text="0"></asp:TextBox>
                                        <span class="input-group-addon" style="background:#49cced">
                                  <span class="">TF</span>
                               </span>
                                   
                                </div>
                            </div>

                            <div class="col-md-1">
                                <div class="input-group">
                                   <%-- <label for="exampleInputEmail1">IATA Commission</label>--%>
                                    <asp:TextBox runat="server" placeholder="IATA COMMISSION" ID="txtIataComm" CssClass="form-control input-text full-width"
                                        onKeyPress="return checkit(event)" Text="0"></asp:TextBox>
                                         <span class="input-group-addon" style="background:#49cced">
                                  <span class="">IATA</span>
                               </span>
                                   <%--<a href="https://icons8.com">Icon pack by Icons8</a>--%>
                                   
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="dropdown">
                                    <%--<label for="exampleInputPassword1">Airline Code</label>--%>
                                    <asp:DropDownList CssClass="input-text full-width" runat="server" ID="airline_code" >
                                        <asp:ListItem>AIRLINE CODE</asp:ListItem>
                                   </asp:DropDownList>
                                  
                                </div>
                            </div>
                        </div>

    




                        <div class="row" style="margin-left: 712px; margin-top: -45px;">


                            <div class="col-md-1">
                                <div class="input-group">

                                    <asp:RadioButtonList ID="RadioButtonList1" CssClass="input-text full-width" runat="server" RepeatDirection="Horizontal">
                                        
                                        <asp:ListItem Text="Domestic" Value="D" ></asp:ListItem>
                                       
                                 
                                        <asp:ListItem Text="International" Value="I" ></asp:ListItem>
                                    </asp:RadioButtonList>
                                </div>
                            </div>
                        </div>



                        <div class="row">
                            <div class="col-md-2" style="    margin-left: 946px; margin-top: -37px;">
                                <div class="button-group">
                                    <asp:Button ID="btnAdd" runat="server" CssClass="btn btn-success" Text="New Entry" OnClientClick="return confirm('Are you sure you want to add this?');" />
                               
                                    <asp:Button ID="btn_Submit" runat="server" Text="Go" Width="74px" CssClass="btn btn-success" />
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <asp:Label ID="lbl" runat="server" Font-Bold="True" Style="color: #CC0000;"></asp:Label>
                                </div>
                            </div>
                            <%--<button type="button" class="button buttonBlue">
                                        New Entry
            <div class="ripples buttonRipples"><span class="ripplesCircle" style="top: 35.2031px; left: 147px;"></span></div>
                                    </button>--%>

                            <%-- <button type="button" class="button buttonBlue">
                                        Search
            <div class="ripples buttonRipples"><span class="ripplesCircle" style="top: 35.2031px; left: 147px;"></span></div>
                                    </button>--%>
                        </div>

                       <%-- <hr />--%>



                        <div class="row">
                            <asp:RequiredFieldValidator ID="RequiredFieldValidator1" runat="server" ControlToValidate="txt_SeviceTax"
                                        ErrorMessage="*" Display="dynamic"><span style="color:#FF0000">*</span></asp:RequiredFieldValidator>

                             <asp:RequiredFieldValidator ID="RequiredFieldValidator2" runat="server" ControlToValidate="txt_TrasFee"
                                        ErrorMessage="*" Display="dynamic"><span style="color:#FF0000">*</span></asp:RequiredFieldValidator>

                             <asp:RequiredFieldValidator ID="RQFV" runat="server" ControlToValidate="txtIataComm"
                                        ErrorMessage="*" Display="dynamic"><span style="color:#FF0000">*</span></asp:RequiredFieldValidator>
                        </div>





                        <div class="row">

                            <div class="col-md-10 container-fluid">
                                <asp:UpdatePanel ID="UP" runat="server">
                                    <ContentTemplate>

                                        <asp:GridView ID="GridView1" runat="server" AutoGenerateColumns="False" DataKeyNames="counter"
                                            OnRowCancelingEdit="GridView1_RowCancelingEdit" OnRowDeleting="GridView1_RowDeleting"
                                            OnRowEditing="GridView1_RowEditing" OnRowUpdating="GridView1_RowUpdating" PageSize="8"
                                            CssClass="table" GridLines="None" Width="100%">
                                            <Columns>
                                                <asp:CommandField ShowEditButton="True" />
                                                <%-- <asp:BoundField DataField="counter" HeaderText="Sr.No" ReadOnly="True" />--%>
                                                <asp:TemplateField>
                                                    <ItemTemplate>
                                                        <asp:Label ID="lbl_ID" runat="server" Text='<%#Eval("Counter") %>' CssClass="hide"></asp:Label>
                                                    </ItemTemplate>
                                                </asp:TemplateField>
                                                <%--  <asp:BoundField DataField="UserId" HeaderText="Agent ID" ControlStyle-CssClass="textboxflight1"
                                            ReadOnly="true" />--%>
                                                <asp:TemplateField HeaderText="AirlineCode">
                                                    <ItemTemplate>
                                                        <asp:Label ID="lblAirlineCode" runat="server" Text='<%# Eval("AirlineCode")%>'></asp:Label>

                                                    </ItemTemplate>
                                                    <EditItemTemplate>
                                                        <asp:Label ID="lblAirlineCodeE" runat="server" Text='<%# Eval("AirlineCode")%>'></asp:Label>
                                                        <asp:Label ID="lblSrNo" Visible="false" runat="server" Text='<%# Eval("Counter")%>' CssClass="hide"></asp:Label>
                                                    </EditItemTemplate>
                                                </asp:TemplateField>



                                                <%--<asp:BoundField DataField="AirlineCode" HeaderText="AirlineCode" ControlStyle-CssClass="textboxflight1"
                                                    ReadOnly="true">
                                                    <ControlStyle CssClass="textboxflight1"></ControlStyle>
                                                </asp:BoundField>--%>

                                                <asp:TemplateField HeaderText="Service Tax">
                                                    <ItemTemplate>
                                                        <asp:Label ID="lblSrvTax" runat="server" Text='<%# Eval("SrvTax")%>'></asp:Label>
                                                    </ItemTemplate>
                                                    <EditItemTemplate>
                                                        <asp:TextBox ID="txtSrvTax" runat="server" Text='<%# Eval("SrvTax")%>'></asp:TextBox>

                                                    </EditItemTemplate>
                                                </asp:TemplateField>
                                                <asp:TemplateField HeaderText="TransFee">
                                                    <ItemTemplate>
                                                        <asp:Label ID="lblTranFee" runat="server" Text='<%# Eval("TranFee")%>'></asp:Label>
                                                    </ItemTemplate>
                                                    <EditItemTemplate>
                                                        <asp:TextBox ID="txtTranFee" runat="server" Text='<%# Eval("TranFee")%>'></asp:TextBox>

                                                    </EditItemTemplate>
                                                </asp:TemplateField>
                                                <%--<asp:BoundField DataField="SrvTax" HeaderText="Service Tax" ControlStyle-CssClass="textboxflight1">
                                                    <ControlStyle CssClass="textboxflight1"></ControlStyle>
                                                </asp:BoundField>
                                                <asp:BoundField DataField="TranFee" HeaderText="TransFee" ControlStyle-CssClass="textboxflight1">
                                                    <ControlStyle CssClass="textboxflight1"></ControlStyle>
                                                </asp:BoundField>
                                                <asp:BoundField DataField="IATAComm" HeaderText="IATA Comm." ControlStyle-CssClass="textboxflight1">
                                                    <ControlStyle CssClass="textboxflight1"></ControlStyle>
                                                </asp:BoundField>--%>
                                                <asp:TemplateField HeaderText="IATA Commission.">
                                                    <ItemTemplate>
                                                        <asp:Label ID="lblIataComm" runat="server" Text='<%# Eval("IATAComm")%>'></asp:Label>
                                                    </ItemTemplate>
                                                    <EditItemTemplate>
                                                        <asp:TextBox ID="txtIataComm" runat="server" Text='<%# Eval("IATAComm")%>'></asp:TextBox>

                                                    </EditItemTemplate>
                                                </asp:TemplateField>
                                                <asp:BoundField DataField="Trip" HeaderText="Trip" ControlStyle-CssClass="textboxflight1"
                                                    ReadOnly="true">
                                                    <ControlStyle CssClass="textboxflight1"></ControlStyle>
                                                </asp:BoundField>
                                                <asp:CommandField ShowDeleteButton="True" />
                                            </Columns>
                                            <RowStyle CssClass="RowStyle" />
                                            <EmptyDataRowStyle CssClass="EmptyRowStyle" />
                                            <PagerStyle CssClass="PagerStyle" />
                                            <SelectedRowStyle CssClass="SelectedRowStyle" />
                                            <HeaderStyle CssClass="HeaderStyle" />
                                            <EditRowStyle CssClass="EditRowStyle" />
                                            <AlternatingRowStyle CssClass="AltRowStyle" />
                                        </asp:GridView>

                                    </ContentTemplate>
                                </asp:UpdatePanel>
                                <asp:UpdateProgress ID="updateprogress" runat="server" AssociatedUpdatePanelID="UP">
                                    <ProgressTemplate>
                                        <div style="position: fixed; top: 0px; bottom: 0px; left: 0px; right: 0px; overflow: hidden; padding: 0; margin: 0; background-color: #000; filter: alpha(opacity=50); opacity: 0.5; z-index: 1000;">
                                        </div>
                                        <div style="position: fixed; top: 30%; left: 43%; padding: 10px; width: 20%; text-align: center; z-index: 1001; background-color: #fff; border: solid 1px #000; font-size: 12px; font-weight: bold; color: #000000">
                                            Please Wait....<br />
                                            <br />
                                            <img alt="loading" src="<%= ResolveUrl("~/images/loadingAnim.gif")%>" />
                                            <br />
                                        </div>
                                    </ProgressTemplate>
                                </asp:UpdateProgress>

                            </div>
                        </div>
                        <%-- </form>--%>
                    </div>
                </div>
            </div>

            <%-- <style>
        input[type="text"], input[type="password"], select
        {
            border: 1px solid #808080;
            padding: 2px;
            font-size: 1em;
            color: #444;
            width: 150px;
            font-family: arial, Helvetica, sans-serif;
            font-size: 12px;
            font-weight: normal;
            border-radius: 3px 3px 3px 3px;
            -webkit-border-radius: 3px 3px 3px 3px;
            -moz-border-radius: 3px 3px 3px 3px;
            -o-border-radius: 3px 3px 3px 3px;
        }
    </style>--%>

            <%--  <link href="../../CSS/style.css" rel="stylesheet" type="text/css" />

   

    <link href="../../css/main2.css" rel="stylesheet" type="text/css" />--%>
        </div>

    </div>
    <%--<div class="mtop80"></div>
     <div class="large-12 medium-12 small-12">
      <div class="large-3 medium-3 small-12 columns">
       
                <uc1:Settings runat="server" ID="Settings" />
            
    </div>--%>
    <%--<div class="large-8 medium-8 small-12 columns heading end">
                                            <div class="large-12 medium-12 small-12 heading1">Airline Fee
                            </div>
                                            <div class="clear1"></div>
  
     
            <div class="redlnk large-6 medium-6 small-12">
                <div class="center">
                    <asp:RadioButtonList ID="RadioButtonList1" runat="server" RepeatDirection="Horizontal">
                        <asp:ListItem Text="Domestic" Value="D" Selected="True"></asp:ListItem>
                        <asp:ListItem Text="International" Value="I"></asp:ListItem>
                    </asp:RadioButtonList>
                </div>
            </div>
            
                        <div class="redlnk large-12 medium-12 small-12">
                            <div class="large-2 medium-2 small-4 columns">Airline Code:
                            </div>
                            <div  class="large-3 medium-3 small-8 columns">
                                <asp:DropDownList runat="server" data-placeholder="Choose a Airline..." TabIndex="2"
                                    ID="airline_code"><%--CssClass="chzn-select"--%>
    <%--</asp:DropDownList>
                            </div>
                       
                       
                            <div class="large-2 medium-2 small-4 columns large-push-2 medium-push-2">Sevice Tax :
                            </div>
                            <div class="large-3 medium-3 small-8 columns">
                                <asp:TextBox runat="server" ID="txt_SeviceTax"  CssClass="combobox"
                                    onKeyPress="return checkit(event)" Text="0"></asp:TextBox>
                                <asp:RequiredFieldValidator ID="RFVMK" runat="server" ControlToValidate="txt_SeviceTax"
                                    ErrorMessage="*" Display="dynamic"><span style="color:#FF0000">*</span></asp:RequiredFieldValidator>
                            </div>
                        </div> --%>
    <%--  <div class="clear1"></div>
             <div class="redlnk large-12 medium-12 small-12">
                            <div class="large-2 medium-2 small-4 columns">Transaction Fee :
                            </div>
                            <div class="large-3 medium-3 small-8 columns">
                                <asp:TextBox runat="server" ID="txt_TrasFee" CssClass="combobox"
                                    onKeyPress="return checkit(event)" Text="0"></asp:TextBox>
                                <asp:RequiredFieldValidator ID="RequiredFieldValidator1" runat="server" ControlToValidate="txt_TrasFee"
                                    ErrorMessage="*" Display="dynamic"><span style="color:#FF0000">*</span></asp:RequiredFieldValidator>--%>
                                <%--<asp:RequiredFieldValidator ID="RFVMK" runat="server" ControlToValidate="mk" ErrorMessage="*"
                                                Display="dynamic"><span style="color:#FF0000">*</span></asp:RequiredFieldValidator>--%>
    <%-- </div>
                        
                            <div class="large-2 medium-2 small-4 columns large-push-2 medium-push-2"">IATA Commission :
                            </div>
                            <div class="large-3 medium-3 small-8 columns">
                                <asp:TextBox runat="server" ID="txtIataComm" CssClass="combobox"
                                    onKeyPress="return checkit(event)" Text="0"></asp:TextBox>
                                <asp:RequiredFieldValidator ID="RQFV" runat="server" ControlToValidate="txtIataComm"
                                    ErrorMessage="*" Display="dynamic"><span style="color:#FF0000">*</span></asp:RequiredFieldValidator>--%>
    <%--<asp:RequiredFieldValidator ID="RFVMK" runat="server" ControlToValidate="mk" ErrorMessage="*"
                                                Display="dynamic"><span style="color:#FF0000">*</span></asp:RequiredFieldValidator>--%>
    <%--    </div>
                 </div>
            <div class="clear1"></div>
                        
            <div class="large-12 medium-12 small-12">
                
                    <asp:UpdatePanel ID="UP" runat="server">
                        <ContentTemplate>
                           
                                
                                    <div class="large-4 medium-4 small-12 large-push-8 medium-push-8">
                                        <div class="large-6 medium-6 small-6 columns">
                                        <asp:Button ID="btnAdd" runat="server" Text="New Entry"  OnClientClick="return confirm('Are you sure you want to add this?');" /></div>
                                            
                                            <div class="large-6 medium-6 small-6 columns">&nbsp<asp:Button
                                            ID="btn_Submit" runat="server" Text="Search"/></div>
                                        &nbsp;&nbsp;&nbsp;</div>
                                        <asp:Label ID="lbl" runat="server" Font-Bold="True" Style="color: #CC0000;"></asp:Label>
                                    </div>
                               <div class="clear1"></div>
                            <div class="large-12 medium-12 small-12">
                                        <asp:GridView ID="GridView1" runat="server" AutoGenerateColumns="False" DataKeyNames="counter"
                                            OnRowCancelingEdit="GridView1_RowCancelingEdit" OnRowDeleting="GridView1_RowDeleting"
                                            OnRowEditing="GridView1_RowEditing" OnRowUpdating="GridView1_RowUpdating" PageSize="8"
                                            CssClass="GridViewStyle" GridLines="None" Width="100%">
                                            <Columns>
                                                <asp:CommandField ShowEditButton="True" />--%>
    <%-- <asp:BoundField DataField="counter" HeaderText="Sr.No" ReadOnly="True" />--%>
    <%-- <asp:TemplateField>
                                                    <ItemTemplate>
                                                        <asp:Label ID="lbl_ID" runat="server" Text='<%#Eval("Counter") %>' CssClass="hide"></asp:Label>
                                                    </ItemTemplate>
                                                </asp:TemplateField>--%>
    <%--  <asp:BoundField DataField="UserId" HeaderText="Agent ID" ControlStyle-CssClass="textboxflight1"
                                            ReadOnly="true" />--%>
    <%-- <asp:BoundField DataField="AirlineCode" HeaderText="AirlineCode" ControlStyle-CssClass="textboxflight1"
                                                    ReadOnly="true">
                                                    <ControlStyle CssClass="textboxflight1"></ControlStyle>
                                                </asp:BoundField>
                                                <asp:BoundField DataField="SrvTax" HeaderText="Service Tax" ControlStyle-CssClass="textboxflight1">
                                                    <ControlStyle CssClass="textboxflight1"></ControlStyle>
                                                </asp:BoundField>
                                                <asp:BoundField DataField="TranFee" HeaderText="TransFee" ControlStyle-CssClass="textboxflight1">
                                                    <ControlStyle CssClass="textboxflight1"></ControlStyle>
                                                </asp:BoundField>
                                                <asp:BoundField DataField="IATAComm" HeaderText="IATA Comm." ControlStyle-CssClass="textboxflight1">
                                                    <ControlStyle CssClass="textboxflight1"></ControlStyle>
                                                </asp:BoundField>
                                                <asp:BoundField DataField="Trip" HeaderText="Trip" ControlStyle-CssClass="textboxflight1"
                                                    ReadOnly="true">
                                                    <ControlStyle CssClass="textboxflight1"></ControlStyle>
                                                </asp:BoundField>
                                                <asp:CommandField ShowDeleteButton="True" />
                                            </Columns>
                                            <RowStyle CssClass="RowStyle" />
                                            <EmptyDataRowStyle CssClass="EmptyRowStyle" />
                                            <PagerStyle CssClass="PagerStyle" />
                                            <SelectedRowStyle CssClass="SelectedRowStyle" />
                                            <HeaderStyle CssClass="HeaderStyle" />
                                            <EditRowStyle CssClass="EditRowStyle" />
                                            <AlternatingRowStyle CssClass="AltRowStyle" />
                                        </asp:GridView>
                                    </div>
                        </ContentTemplate>
                    </asp:UpdatePanel>--%>
    <%--<div class="clear1"></div>
                <div class="large-12 medium-12 small-12">
                    <asp:UpdateProgress ID="updateprogress" runat="server" AssociatedUpdatePanelID="UP">
                        <ProgressTemplate>
                            <div style="position: fixed; top: 0px; bottom: 0px; left: 0px; right: 0px; overflow: hidden; padding: 0; margin: 0; background-color: #000; filter: alpha(opacity=50); opacity: 0.5; z-index: 1000;">
                            </div>
                            <div style="position: fixed; top: 30%; left: 43%; padding: 10px; width: 20%; text-align: center; z-index: 1001; background-color: #fff; border: solid 1px #000; font-size: 12px; font-weight: bold; color: #000000">
                                Please Wait....<br />
                                <br />
                                <img alt="loading" src="<%= ResolveUrl("~/images/loadingAnim.gif")%>" />
                                <br />
                            </div>
                        </ProgressTemplate>
                    </asp:UpdateProgress></div>
               
            </div>
        </div>
    </div>
         </div>--%>