﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="HotelCreditNote.aspx.vb" Inherits="DetailsPort_Finance_HotelCreditNote" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
        <link href="../../CSS/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <form id="form1" runat="server">
     <div>
        <asp:Label ID="lbl_Detail" runat="server" ></asp:Label>
    </div>
    </form>
</body>
</html>
